.feature-main{
    height: 126vh;
    background-color: #2c3e50;
}

.icon-style {
    background-color: #76b547;
    box-shadow: 40px 30px 0 -15px #76b547, -60px 40px 0 -30px #76b547, -100px 0 0 -50px #76b547, 100px 0 0 -50px #76b547;
    display: block;
    height: 128px;
    left: 50%;
    margin-left: -114px;
    margin-top: -124px;
    position: absolute;
    width: 128px; 
    border-radius: 200px;
    overflow: hidden;
    padding: 50px;  
}   

@keyframes swinging {
    0% {
      transform: rotate(2deg);
    }
    50% {
      transform: rotate(-2deg);
    }
    100% {
      transform: rotate(2deg);
    }
  }

.icon-style {
    /* transform-origin: 65.15% 0%; */
    animation: swinging 1.5s ease-in-out infinite; /* Adjust the animation duration and properties as needed */
  }

/* .icon-style i {
    background: #76b547;
    box-shadow: 40px 30px 0 -15px #76b547, -60px 40px 0 -30px #76b547, -100px 0 0 -50px #76b547, 100px 0 0 -50px #76b547;
} */

.icon{
    height: 128px;
    margin-left: 0px;
    margin-top: 0px;
    opacity: 1;
    width: 128px;
}

.wrap {
    min-height: 100%;
    text-align: center;
    overflow-x: hidden;
    margin: 0 auto;
    max-width: 960px;
}

.first-section{
    display: block;
    margin-left: 104px;
    margin-top: 0;
    position: static;
    text-align: left;
    width: 300px;
}

.first-icon{
    margin-top: 15px;
    color: rgba(255,255,255,.25);
    margin-left: -104px;
    /* margin-top: 115px; */
    position: absolute;
}

.first-heading{
    color: #a3ccf2;
    font-size: 24px;
    margin-left: 0;
    margin-top: 100px;
}

.feature-main-heading{
  color: white;
  margin-left: 10px;
  margin-right: 10px;
  margin-top: 155px;
}